Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: true
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:JetBrainsMono Nerd Font:style=Regular:size=16
URxvt.boldFont: xft:JetBrainsMono Nerd Font:style=Bold:size=16
URxvt.italicFont: xft:JetBrainsMono Nerd Font:style=Italic:size=16
URxvt.boldItalicFont: xft:JetBrainsMono Nerd Font:style=Bold Italic:size=16
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.lineSpace: 0
URxvt.letterSpace: 0

! TokyoNight night colors for Xresources

*background: #1a1b26
*foreground: #c0caf5

*color0: #15161E
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5
 
/* ! TokyoNight day colors for Xresources */

/* *background: #e1e2e7 */
/* *foreground: #3760bf */

/* *color0: #e9e9ed */
/* *color1: #f52a65 */
/* *color2: #587539 */
/* *color3: #8c6c3e */
/* *color4: #2e7de9 */
/* *color5: #9854f1 */
/* *color6: #007197 */
/* *color7: #6172b0 */

/* *color8: #a1a6c5 */
/* *color9: #f52a65 */
/* *color10: #587539 */
/* *color11: #8c6c3e */
/* *color12: #2e7de9 */
/* *color13: #9854f1 */
/* *color14: #007197 */
/* *color15: #3760bf */
